.container {
    display: block;

    margin-top: 25px;
}
.block {
    /* width: calc(50% - 34px); */
    /* margin: 0 15px 30px 15px; */
    width: 100%;
    background: #EEE;
    border: 1px solid #CCC;
    height: 200px;
    display: inline-block;
    box-shadow: 0px 2px 16px #CCC;
}
.block .img {
    height: 200px;
    float: left;
}
.block .base-data {
    width: 310px;
    margin-left: 15px;
    float: left;
}
.block .img img {
    height: 200px;
}
